@model NavegaTIC_CTI.Models.EscaladoA

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Estas seguro de eliminar este registro?</h3>
<div>
    <h4>EscaladoA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EscaladoAName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EscaladoAName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Ir a la lista", "Index")
        </div>
    }
</div>
